@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  color: white;
  background: #090909;
  overflow: hidden;
}

#video-bg {
  opacity: 0.5;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 800;
  filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #c40094;
}

.main {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: 0.3s ease;
}

#video-bg {
  position: absolute;
  z-index: -1;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09001d;
}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content p {
  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-btn {
  width: 190px;
  height: 55px;
  background: #c40094;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #c40094;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 5px;
}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  background: #c40094;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #c40094;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 5px;
}

.home-content .start-btn:hover {
  background: #09001d;
  box-shadow: none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: white;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: #c40094;
  font-weight: 700;
  text-align: center;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0px;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #c40094;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: #c40094;
  color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: #950170;
  border-color: #950170;
}

.quiz-section {
  position: relative;
  left: -50%;
  width: 100%;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease-in-out;
  transition-delay: 0.25s;
  z-index: 100;
  overflow-y: auto;
}

.quiz-section.active {
  left: 0;
  top: 0; /* Set the top to 0 to start from the top of the viewport */
  transform: translateY(0); /* No vertical transformation */
  width: 100%;
  overflow-y: auto; /* Allow vertical scrolling if needed */
  /* Rest of your existing styles */
}

.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  transform: scale(0.9);
  transition-delay: 0s;
  overflow-y: scroll;
}

.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
  margin: 0; /* Remove margin */
  max-height: 90vh; /* Set a maximum height to fit within the viewport */
  overflow-y: auto;
}

.quiz-box h1 {
  font-size: 26px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #c40094, transparent);
  border-radius: 6px;
  padding: 8px 1px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #c40094;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score {
  background: #c40094;
  border-radius: 3px;
  padding: 4px;
}

.question-text {
  font-size: 18px;
  font-weight: 300;
  padding: 20px 0 15px;
  width: 100%; /* Adjust the width as needed */
}

.question-image {
  max-width: 40%; /* Adjust the maximum width as needed */
  height: auto;
  margin-right: 50px;
  border: 1px solid #c40094;
  border-radius: 6px;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.3s;
}

.option-list .option:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.option-list .option.correct {
  background: #09001d;
  color: seagreen;
  border-color: seagreen;
}

.option-list .option.incorrect {
  background: #09001d;
  color: #a60045;
  border-color: #a60045;
}

.option-list .option.disabled {
  pointer-events: none;
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #c40094;
  padding-top: 20px;
  margin-top: 20px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;
}

.quiz-footer .next-btn.active {
  pointer-events: auto;
  background: #c40094;
  border-color: #c40094;
  color: white;
}

.quiz-footer .next-btn.active:hover {
  background: #950170;
  border-color: #950170;
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
  font-size: 50px;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.percentage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-container .circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: #09001d;
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.result-box .buttons {
  display: flex;
}

.buttons button {
  width: 130px;
  height: 47px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(1):hover {
  background: #950170;
  border-color: #950170;
}

.buttons button:nth-child(2) {
  background: transparent;
  color: #c40094;
}

.buttons button:nth-child(2):hover {
  background: #c40094;
  color: white;
}

#q-img {
  max-width: 100%;
  height: auto;
  margin-right: 50px;
  border: 1px solid #c40094;
  border-radius: 6px;
}

/* Style the <select> element */
#chapter-select {
  width: 100%; /* Set the width of the dropdown */
  padding: 10px; /* Add some padding to the dropdown */
  border: 2px solid #c40094; /* Add a border */
  background-color: transparent; /* Set the background color */
  color: white; /* Set the text color */
  font-size: 16px; /* Set the font size */
  border-radius: 6px; /* Add border radius */
  outline: none; /* Remove the default outline on focus */
  /* text-align: center; */
}

/* Style the <option> tags */
#chapter-select option {
  background-color: #09001d; /* Set the background color of options */
  color: white; /* Set the text color of options */
  font-size: 16px; /* Set the font size of options */
}

.custom-swal-confirm-button {
  width: 190px;
  height: 55px;
  background: #c40094;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #c40094;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

/* iPhone */
@media (max-width: 375px) {
  .swal-wide {
    width: 325px;
  }

  .buttons {
    margin-bottom: 50px;
  }
  .exit-btn {
    margin-right: 5px;
  }

  .continue-btn {
    margin-left: 5px;
  }

  .home-content {
    height: 100vh;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .navbar a {
    font-size: 14px;
    margin-left: 20px;
  }

  .home-content h1 {
    font-size: 48px;
    text-align: center;
  }

  .home-content p {
    font-size: 16px;
    margin: -10px 15px;
  }

  .home-btn,
  .start-btn {
    width: 130px !important;
    height: 45px !important;
    font-size: 16px;
  }

  .popup-info {
    width: 90%;
  }

  .popup-info h2 {
    font-size: 40px;
  }

  .info-btn {
    width: 110px;
    height: 40px;
    font-size: 14px;
  }

  .quiz-box {
    width: 95vw !important;
    margin-top: -45px !important;
  }

  .quiz-box h1 {
    font-size: 20px;
  }

  .question-text {
    font-size: 16px;
    padding: 15px 0 10px;
  }

  .option-list .option {
    font-size: 14px;
    padding: 10px;
    margin: 10px 0;
  }

  .quiz-footer {
    margin-bottom: 25px;
  }

  .quiz-footer .question-total {
    font-size: 14px;
  }

  .next-btn {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }

  .result-box h2 {
    font-size: 40px;
  }

  .score-text {
    font-size: 20px;
    margin-top: 15px;
  }

  .buttons button {
    width: 110px;
    height: 45px;
    font-size: 14px;
  }
}

/* iPad */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar a {
    font-size: 16px;
    margin-left: 30px;
  }

  .home-content h1 {
    font-size: 60px;
  }

  .home-content p {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .home-btn,
  .start-btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
  }

  .popup-info {
    width: 80%;
  }

  .popup-info h2 {
    font-size: 45px;
  }

  .info-btn {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .quiz-box h1 {
    font-size: 24px;
  }

  .question-text {
    font-size: 16px;
    padding: 15px 0 10px;
  }

  .option-list .option {
    font-size: 16px;
    padding: 12px;
    margin: 12px 0;
  }

  .quiz-footer .question-total {
    font-size: 16px;
  }

  .next-btn {
    width: 90px;
    height: 45px;
    font-size: 16px;
  }

  .result-box h2 {
    font-size: 45px;
  }

  .score-text {
    font-size: 22px;
    margin-top: 20px;
  }

  .buttons button {
    width: 130px;
    height: 50px;
    font-size: 16px;
  }
}

/* Laptop */
@media (min-width: 1025px) {
  .navbar a {
    font-size: 18px;
    margin-left: 35px;
  }

  .home-content h1 {
    font-size: 78px;
  }

  .home-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .home-btn,
  .start-btn {
    width: 190px;
    height: 55px;
    font-size: 18px;
  }

  .popup-info {
    width: 500px;
  }

  .popup-info h2 {
    font-size: 50px;
  }

  .info-btn {
    width: 130px;
    height: 45px;
    font-size: 16px;
  }

  .quiz-box h1 {
    font-size: 26px;
  }

  .question-text {
    font-size: 18px;
    padding: 20px 0 15px;
  }

  .option-list .option {
    font-size: 17px;
    padding: 12px;
    margin: 15px 0;
  }

  .quiz-footer .question-total {
    font-size: 16px;
  }

  .next-btn {
    width: 100px;
    height: 45px;
    font-size: 16px;
  }

  .result-box h2 {
    font-size: 50px;
  }

  .score-text {
    font-size: 26px;
    margin-top: 20px;
  }

  .buttons button {
    width: 130px;
    height: 47px;
    font-size: 16px;
  }
}

/* Android */
@media only screen and (min-width: 360px) and (max-width: 1024px) {
  .logo {
    display: none;
  }
  .navbar a {
    font-size: 16px;
    margin-left: 30px;
  }

  .home-content h1 {
    font-size: 60px;
  }

  .home-content p {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .home-btn,
  .start-btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
  }

  .popup-info {
    width: 80%;
  }

  .popup-info h2 {
    font-size: 45px;
  }

  .info-btn {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .quiz-box h1 {
    font-size: 24px;
  }

  .question-text {
    font-size: 16px;
    padding: 15px 0 10px;
  }

  .option-list .option {
    font-size: 16px;
    padding: 12px;
    margin: 12px 0;
  }

  .quiz-footer .question-total {
    font-size: 16px;
  }

  .next-btn {
    width: 90px;
    height: 45px;
    font-size: 16px;
  }

  .result-box h2 {
    font-size: 45px;
  }

  .score-text {
    font-size: 22px;
    margin-top: 20px;
  }

  .buttons button {
    width: 130px;
    height: 50px;
    font-size: 16px;
  }
}

/* Additional media queries for video background */
@media (max-aspect-ratio: 16/9) {
  #video-bg {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #video-bg {
    display: none;
  }
}
